/* body { */
/*     padding-top: 20px; */
/*     padding-bottom: 60px; */
/* } */
footer {
    text-align:center;
}

.jumbotron {
    margin: 30px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 20px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
    padding: 0;
}
.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}
.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}
.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
} 

dl {
    counter-reset: my-counter;
    width:75%;
    left: 10%;
    position:relative;
}
dt {
    position: relative;
    font: bold 16px Serif;
    padding: 4px 0 10px 0;
}
dt:before {
    color:orange;
    content: counter(my-counter);
    counter-increment: my-counter;
    position: absolute;
    left: 0;
    top: 0;
    font: bold 50px/1 Sans-Serif;
}
dd {
    margin: 0 0 20px 0;
}
dt, dd {
    padding-left: 50px;
}
dl ul {
    list-style:none;
}
dl li:before {
    content: " – "
}
ul.custom-list li:before {
    content:none;
}
ul.custom-list li i {
    margin-right:3px;
}
.service-order-list {
    counter-reset:my-counter;
    list-style:none;
}
.service-order-list li {
    position: relative;
    font: 16px;
    padding: 4px 0 10px 0;
}
.service-order-list li:before {
    color:pink;
    content: counter(my-counter);
    counter-increment: my-counter;
    position: absolute;
    left: 0;
    top: 0;
    font: bold 50px/1 Sans-Serif;
}
.dashed {
    border-bottom:1px dashed;
}